<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
	<link rel="icon" href="./favicon.png" />

	<title>兎鞠まりボタン</title>

	<!-- 開発用 -->
	<!--<script src="https://unpkg.com/vue"></script> -->
	<!-- 本番用 -->
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>

	<script src="https://unpkg.com/element-ui"></script>

	<script src="./index.js"></script>

	<style type="text/css">
		@import url("https://unpkg.com/element-ui/lib/theme-chalk/index.css");

		.footer {
			position: fixed;
			bottom: 0;
			right: 0;
			height: auto;
			width: auto;
			margin: 0.5em;
			background-color: snow;
			border-color: lightpink;
			border-width: medium;
			border-style: solid;
		}
	</style>
</head>
<body onload="init()">
	<div style="padding: 0 1em;">
		<h1>兎鞠まりボタンβ</h1>
		<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-dnt="true" data-show-count="false">Tweet</a>
		<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>
	<div id="app">
		<el-container>
			<el-header style="height: unset;">
				<h2>お知らせ</h2>
				<p>
					<!--イベント情報: 10/31(水) <a href="https://twitter.com/tomari_mari/status/1053664055666270210">バ美肉ナイトクラブ in 渋谷</a><br />-->
					<!--イベント情報: 11/02(金) 23:00- <a href="https://twitter.com/anzu_chaaaan/status/1055862518470520833">第二回兎鞠まり声真似選手権</a><br />-->
					イベント情報: 11/04(日) 11:30- (11:15開場) <a href="https://twitter.com/iniadfeskoho/status/1057471833824358402">VTuberトークセッション ～次のバ美肉はキミだ～</a><br />
					イベント情報: 12/30(日) <a href="https://twitter.com/tomari_mari/status/1058271863183335425">コミックマーケット95 2日目 東ス-23a サークル「SoftGummy」</a>
				</p>
			</el-header>
			<el-main>
				<hr />
				<player ref="player" v-bind:volume="volume"></player>
				<div v-for="(tracks, category) in categories">
					<h2>{{ category }}</h2>
					<play-button v-for="e in tracks" v-bind:track="e" v-bind:key="e.title" v-on:play="play" style="margin: 0.25em;" />
				</div>
				<hr />
			</el-main>
			<el-footer class="footer" style="padding: 0; height: initial; width: 20em;">
				<el-row style="margin: 0.5em;">
					<el-col :span="24">
						<div><a v-bind:href="track.source" target="_blank">{{ track.title }}</a></div>
						<!--<div v-if="track.relatives">
							<h2>関連項目</h2>
							<div v-if="track.relatives.twitter">
								<h3>twitter</h3>
								<ul>
									<li v-for="e in track.relatives.twitter"><a v-bind:href="e">{{ e }}</a></li>
								</ul>
							</div>
						</div>-->
					</el-col>
				</el-row>
				<el-row style="margin: 0.5em;">
					<el-col :span="16">
						<el-slider v-model="volume" v-bind:min="0.0" v-bind:max="1.0" v-bind:step="0.01"></el-slider>
					</el-col>
					<el-col :span="8" style="text-align:center;">
						<stop-button v-on:stop="stopButtonClicked"></stop-button>
					</el-col>
				</el-row>
			</el-footer>
		</el-container>
	</div>
	<div style="padding: 0 2em;">
		<div style="display: flex; flex-wrap: wrap; flex-direction: row;">
			<div style="max-width: 40em;">
				<p>
					このページは兎鞠まりちゃんの<span style="color: red; font-weight: bold;">非</span>公式ファンサイトです。
				</p>
				<p>
					これらのボタンは主に<a href="https://www.youtube.com/channel/UCkPIfBOLoO0hVPG-tI2YeGg">兎鞠まりちゃんねる</a>の動画を勝手に切り抜いて作成されました。<br />
				</p>
				<p>ボタンはちょっとずつ増えます。</p>
				<p>不具合の報告は兎鞠まりちゃんご本人ではなく<a href="#contact">下記の連絡先</a>までお願いします。</p>
				<p>
					<h2>使い方</h2>
					<ul>
						<li>右下のプレイヤーにあるスライダーで音量を調節し、ボタンをクリックして音声を再生します。</li>
						<li>とめるボタンをクリックすると音声が止まります。</li>
						<li>タイトル部分をクリックすると音声の切り抜き元の動画に飛びます。</li>
					</ul>
				</p>
				<p>
					<h2>更新履歴</h2>
					<ul>
						<li>2018/10/15 モバイル環境で拡大縮小が不要になって見やすくなったかも</li>
						<li>2018/09/27 名称変更:「天才」→「自己暗示1」</li>
					</ul>
				</p>
				<p>
					<h2>リンク</h2>
					<ul>
						<li><a href="https://www.youtube.com/channel/UCkPIfBOLoO0hVPG-tI2YeGg">兎鞠まりちゃんねる</a></li>
						<li><a href="https://twitter.com/tomari_mari">兎鞠まりちゃんのtwitter</a></li>
						<li><a href="https://www.pixiv.net/fanbox/creator/33648062">兎鞠まりちゃんのpixivFANBOX</a></li>
						<li><a href="https://tomari-mari.booth.pm/items/1046822">兎鞠まりあくりるふぃぎゅあ</a></li>
						<li><a href="https://www.melonbooks.co.jp/detail/detail.php?product_id=403430">ビバ・バ美肉 (メロンブックス)</a></li>
					</ul>
					<ul>
						<li><a href="./howtomake/">ボタンの構成と作り方</a></li>
					</ul>
				</p>
				<p>
					<h2>オマージュ元と他のボタンサイトさま</h2>
					<ul>
						<li><a href="https://rimumaki.clocknote.net/">りむとまきボタン(β)</a></li>
						<li><a href="https://www.natorisana.love/">さなボタン(2)</a></li>
						<li><a href="http://sanabutton.ojaru.jp/">さなボタン</a> (更新終了とのこと)</li>
						<li><a href="http://magurona-button.sakura.ne.jp/">まぐろなボタン</a></li>
						<li><a href="http://onyankopbtn.html.xdomain.jp/">オニャンコポンぼたん</a></li>
					</ul>
				</p>
				<p>
					<h2 id="contact">連絡先</h2>
					苦情・リクエスト・不具合の報告などはこちらまでお願いします。<br />
					twitter: <a href="https://twitter.com/160149">@160149</a>
				</p>
			</div>
			<div style="max-width: 40em;">
				<a class="twitter-timeline" data-height="700" data-dnt="true" href="https://twitter.com/tomari_mari?ref_src=twsrc%5Etfw">Tweets by tomari_mari</a>
				<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
		</div>
	</div>
</body>
</html>