<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <link rel="icon" href="./favicon.png" />

    <title>兎鞠まりボタン</title>

    <!-- 開発用 -->
    <!--	<script src="https://unpkg.com/vue"></script>-->
    <!-- 本番用 -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <script src="https://unpkg.com/element-ui"></script>
    <script src="./bundle.js"></script>
    <script>
        let { Tweet } = require("vue-tweet-embed");
        Vue.component("Tweet", Tweet);
    </script>
    <script src="./index.js"></script>
    <script src="https://www.youtube.com/player_api"></script>

    <link rel="stylesheet" type="text/css" href="index.css" />
    <link rel="stylesheet" type="text/css" href="site.css" />

    <style type="text/css">
        .footer {
            position: fixed;
            bottom: 0;
            right: 0;
            height: auto;
            width: auto;
            margin: 0.5em;
            background-color: snow;
            border-color: lightpink;
            border-width: medium;
            border-style: solid;
        }

        .box26 {
            position: relative;
            margin: 2em 0;
            padding: 0.5em 1em;
            border: solid 3px lightpink;
            border-radius: 8px;
        }

            .box26 .box-title {
                position: absolute;
                display: inline-block;
                top: -13px;
                left: 10px;
                padding: 0 9px;
                line-height: 1;
                font-size: 19px;
                background: #FFF;
                color: hotpink;
                font-weight: bold;
            }

            .box26 p {
                margin: 0;
                padding: 0;
            }

        #ytpcontainer iframe {
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body onload="init()">
	<div style="padding: 0 0.5em;">
		<h1 id="title">兎鞠まりボタン RC</h1>
		<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-dnt="true" data-show-count="false">Tweet</a>
		<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>
	<div id="app">
		<el-container>
			<el-header style="height: unset; padding: 0.5em;">
				<span style="font-weight: bold; color: red;">
                【祝】 <a href="https://twitter.com/project_upd8/status/1177055231865053184">upd8 参加</a> &amp; 
                    <a href="https://www.youtube.com/watch?v=49oVVljh8XA">新衣装</a> やったでおい！
                </span>
				<div class="box26">
					<span class="box-title">お知らせ</span>
					<p>
                        <h3>夏コミ通販情報</h3>
                        <div>
                            ついにC96の新刊とアクリルキーホルダーの通販が開始！<br />
                            <a href="https://tomari-mari.booth.pm/items/1521879">新刊</a>
                            <a href="https://tomari-mari.booth.pm/items/1521897">アクリルキーホルダー</a>
                        </div>
                        <h3>グッズ情報</h3>
                        <div>
                            <ul>
                                <li>
                                    <h4>パーカー第二弾</h4>
                                    黒と白の2色展開！<br />
                                    しかもなんと両方とも<a href="https://www.youtube.com/watch?v=49oVVljh8XA">新衣装として実装</a>！お揃い！！<br /><br />

                                    <a href="http://favorite-one.co.jp/ffcollabtomari02bl">黒の販売ページ</a>
                                    <a href="http://favorite-one.co.jp/ffcollabtomari02">白の販売ページ</a><br />
                                    ※前回と同様に生産未確定状態での予約になるとのこと。<br />
                                    ※色によって販売ページが異なるので注意<br />
                                    <br />
                                    <a href="https://twitter.com/tomari_mari/status/1177189848299425792">商品紹介ツイート</a>
                                </li>
                                <li>
                                    <h4><a href="http://favorite-one.co.jp/shopdetail/000000012023/">うさみみ付きプリントパーカー</a> 再販</h4>
                                    ※こちらも同様に生産未確定状態での予約になるとのこと。<br />
                                    <br />

                                    <a href="https://twitter.com/tomari_mari/status/1144961197201952768">商品紹介ツイート</a>
                                    <a href="https://twitter.com/tomari_mari/status/1144971760099397632">商品のサイズについてのツイート</a>
                                    <a href="https://twitter.com/tomari_mari/status/1157220631554846720">実物の写真</a>
                                </li>
                            </ul>
                        </div>
                        <!--<h3>イベント情報</h3>
                        <div>
                            <h4></h4>
                        </div>-->
						<h3>ボタンについて</h3>
						<a href="./history/">過去にお知らせで掲載したイベント等をまとめたページ</a>を作成しました。<br />
						<br />
						最終更新日時: {{ lastModified }} <br />
						<a href="https://github.com/ptr-tsukuyomi/tomaributton/commits/master">簡易更新履歴</a>
					</p>
				</div>
			</el-header>
			<el-main style="padding: 0.5em;">
				<el-select v-model="selectedGrouping">
					<el-option key="category" label="カテゴリごとにグループ化" value="category"></el-option>
					<el-option key="archive" label="アーカイブ(動画)ごとにグループ化" value="archive"></el-option>
					<el-option key="count" label="ボタンの再生回数ごとにグループ化" value="count"></el-option>
				</el-select>
				<el-select v-model="filter">
					<el-option key="none" label="フィルターなし" value="none"></el-option>
					<el-option key="favorite" label="お気に入りのみ" value="favorite"></el-option>
				</el-select>
				<div v-for="[key, tracks] in orderedTracks">
					<template v-if="selectedGrouping == 'category'">
						<h2>{{ key }}</h2>
					</template>
					<template v-if="selectedGrouping == 'archive' && tracks.length != 0">
						<template v-if="archiveInfo[key] != undefined">
							<template v-if="archiveInfo[key].url != undefined">
								<h2>
									<a v-bind:href="archiveInfo[key].url">{{ archiveInfo[key].title }}</a>
								</h2>
							</template>
							<template v-if="archiveInfo[key].url == undefined">
								<h2>{{ archiveInfo[key].title }}</h2>
							</template>
							<p v-if="archiveInfo[key].date != undefined">配信日: {{ archiveInfo[key].date }}</p>
						</template>
						<template v-if="archiveInfo[key] == undefined">
							<h2>{{ key }}</h2>
						</template>
					</template>
					<template v-if="selectedGrouping == 'count'">
						<h2>{{key}}回</h2>
					</template>
					<play-button v-for="e in tracks" v-bind:track="e" v-bind:key="e.title" v-on:play="playButtonClicked" style="margin: 0.25em;" />
				</div>
				<div v-if="orderedTracks.length == 0">
					該当するボタンがありません。
				</div>
				<player ref="player" v-bind:volume="volume"></player>
			</el-main>
			<el-footer class="footer" style="padding: 0; height: initial; width: 20em;">
				<el-row style="margin: 0.5em;">
					<youtube-player ref="ytplayer"></youtube-player>
				</el-row>
				<el-row style="margin: 0.5em;">
					<el-col :span="24">
						<div v-if="track.id != null">
							<favorite-button v-bind:favorited="isFavorited" v-on:clicked="favoriteButtonClicked"></favorite-button>
							<a v-bind:href="track.source" target="_blank">{{ track.title }}</a>
						</div>
					</el-col>
				</el-row>
				<el-row style="margin: 0.5em;">
					<el-col :span="16">
						<el-slider v-on:change="volumeChanged" v-model="volume" v-bind:min="0.0" v-bind:max="1.0" v-bind:step="0.01"></el-slider>
					</el-col>
					<el-col :span="8" style="text-align:center;">
						<stop-button v-on:stop="stopButtonClicked"></stop-button>
					</el-col>
				</el-row>
			</el-footer>
		</el-container>
	</div>
	<hr />
	<div style="padding: 0 1em;">
		<div style="display: flex; flex-wrap: wrap; flex-direction: row;">
			<div style="max-width: 40em;">
				<p>
					このページは兎鞠まりちゃんの<span style="color: red; font-weight: bold;">非</span>公式ファンサイトです。
				</p>
				<p>
					これらのボタンは主に<a href="https://www.youtube.com/channel/UCkPIfBOLoO0hVPG-tI2YeGg">兎鞠まりちゃんねる</a>の動画を勝手に切り抜いて作成されました。<br />
				</p>
				<p>ボタンはちょっとずつ増えます。</p>
				<p>不具合の報告は兎鞠まりちゃんご本人ではなく<a href="#contact">下記の連絡先</a>までお願いします。</p>
				<p>
					<h2>使い方</h2>
					<ul>
						<li>右下のプレイヤーにあるスライダーで音量を調節し、ボタンをクリックして音声を再生します。</li>
						<li>とめるボタンをクリックすると音声が止まります。</li>
						<li>タイトル部分をクリックすると音声の切り抜き元の動画に飛びます。</li>
					</ul>
				</p>
				<p>
					<h2>更新履歴</h2>
					<ul>
						<li>2019/02/01 UIをタブからドロップダウンリストの選択方式に変更、YouTubeの動画の埋め込みに対応 (γ→RC)</li>
						<li>2018/11/24 お気に入り機能を実装しました。</li>
						<li>2018/11/04 ボタンをアーカイブごとに配置したタブを用意しました。(β→γ)</li>
						<li>2018/10/15 モバイル環境で拡大縮小が不要になって見やすくなったかも</li>
						<li>2018/09/27 名称変更:「天才」→「自己暗示1」</li>
					</ul>
				</p>
				<p>
					<h2>リンク</h2>
					<ul>
						<li><a href="https://www.youtube.com/channel/UCkPIfBOLoO0hVPG-tI2YeGg">兎鞠まりちゃんねる</a></li>
                        <li><a href="https://www.youtube.com/channel/UCyfJTYqRNs3g_tl5uArtejw">まぐまりさぶちゃんねる</a></li>
						<li><a href="https://twitter.com/tomari_mari">兎鞠まりちゃんのtwitter</a></li>
						<li><a href="https://www.pixiv.net/fanbox/creator/33648062">兎鞠まりちゃんのpixivFANBOX</a></li>
                        <li><a href="https://www.instagram.com/tomari_mari/">兎鞠まりちゃんのInstagram</a></li>
						<li><a href="https://tomari-mari.booth.pm/items/1046822">兎鞠まりあくりるふぃぎゅあ</a></li>
						<li><a href="https://www.melonbooks.co.jp/detail/detail.php?product_id=403430">ビバ・バ美肉 (メロンブックス)</a></li>
                        <li><a href="https://technocosplay.booth.pm/items/1278158">MARI TOMARI Fragrance（兎鞠まりちゃんフレグランス）</a></li>
					</ul>
					<ul>
						<li><a href="./history/">これまでの出来事</a></li>
						<li><a href="./howtomake/">ボタンの構成と作り方</a></li>
						<li><a href="https://github.com/ptr-tsukuyomi/tomaributton">GitHubのリポジトリ</a></li>
					</ul>
				</p>
				<p>
					<h2>オマージュ元と他のボタンサイトさま</h2>
					<ul>
						<li><a href="https://rimumaki.clocknote.net/">りむとまきボタン(β)</a></li>
						<li><a href="https://www.natorisana.love/">さなボタン(2)</a></li>
						<li><a href="http://sanabutton.ojaru.jp/">さなボタン</a> (更新終了とのこと)</li>
						<li><a href="http://onyankopbtn.html.xdomain.jp/">オニャンコポンぼたん</a></li>
						<li><a href="http://souyaichika.love/">いちかボタン</a></li>
						<li><a href="https://umorihinako.love/">ひなこボタン</a></li>
						<li><a href="http://mugimugigachikoi.sarashi.com/">家長ボタン</a></li>
						<li>まぐろなボタン [http://magurona-button.sakura.ne.jp/] (リンク切れ)</li>
					</ul>
				</p>
				<p>
					<h2 id="contact">連絡先</h2>
					苦情・リクエスト・不具合の報告などはこちらまでお願いします。<br />
					twitter: <a href="https://twitter.com/160149">@160149</a>
				</p>
			</div>
			<div style="max-width: 40em;">
				<a class="twitter-timeline" data-height="700" data-dnt="true" href="https://twitter.com/tomari_mari?ref_src=twsrc%5Etfw">Tweets by tomari_mari</a>
				<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
		</div>
	</div>
</body>
</html>